body {
  	margin: 0;
  	padding: 0;
	
  	font-family: open_sanslight, Arial, sans-serif;
  	font-size: 15px;
  	line-height: 30px;
  	color: #000000;

}

a {
  	text-decoration: none;
  	color: #000000;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: gilroyextrabold, Arial, sans-serif;
	line-height: 1;
}

/*.main-header {
	background: #f7e296;
}


.grid {
	width: 1000px;
	height: 1000px;
	background-image: url('../img/grid.png');
	background-size: 1000px 1000px;
	background-repeat: no-repeat;
	position: absolute;
	z-index: -9;
	left: 120px;
}
*/
.site-navigation li,
.user-navigation li,
.device-category li,
.services li,
.partners li,
.about li,
.service-navigation-footer li,
.navigation-links li {
 	list-style: none;
}

.header-logo:hover,
.footer-logo:hover {
	filter: alpha(Opacity=60);
    opacity: 0.6; 
}

.header-logo:active,
.footer-logo:active {
	filter: alpha(Opacity=30);
    opacity: 0.3; 
}

.user-navigation {
	font-size: 15px;
	line-height: 36px;
}

.site-navigation .catalog-list-hidden {
	font-size: 15px;
	line-height: 36px;
}

.search-wrapper {
	width: 440px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.search {
	border: none;
	flex-grow: 1;
	background: transparent;
	background-image: url('../img/svg/search.svg');
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-bottom: 10px;
	border-bottom: 2px solid transparent;
}
.search::-webkit-input-placeholder {
	color: rgba(0,0,0,.3);

}

.search:hover::-webkit-input-placeholder {
	color: rgba(0,0,0,.6);     
}

.search:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.7s ease;}

.search:focus { 
	outline: none;
	color: #000000;
	border-bottom: 2px solid black;
}

.search:focus ~ .enter-search { 
	color: #000000;
	border: 2px solid black;
}

.enter-search {
	background: transparent;
	border: none;
	color: transparent;
	width: 85px;
	height: 48px;
}

.user-navigation .enter-search:hover {
	color: #ffffff;
	border: 2px solid black;
	background: black;
}

.enter-search:focus {
	background: black;
	color: #ffffff;
	border: 2px solid black;
}

.user-navigation .enter-search:active {
	color: rgba(255,255,255,.3);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: rgba(0,0,0,.6);
}

.user-navigation .user {
	position: relative;
	right: 3px;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0,0,0,.3);
}

.site-navigation .catalog-product {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.main-header ul { 
	list-style: none;
	margin: 0;
}

.site-navigation .right-part {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.main-navigation .user {
	background-image: url('../img/svg/user.svg');
	background-repeat: no-repeat;
	background-position: 3px;
	padding-left: 27px;
}

.main-navigation .compare {
	background-image: url('../img/svg/compare.svg');
	background-repeat: no-repeat;
	background-position: 4px;
	padding-left: 27px;
}

.main-navigation .cart {
	background-image: url('../img/svg/cart.svg');
	background-repeat: no-repeat;
	background-position: 4px;
	padding-left: 27px;
}

.catalog-product {
	display: block;
	background-image: url('../img/svg/plus.png');
	background-repeat: no-repeat;
	background-position: 230px;
}


/*              MAIN                  MAIN               MAIN               MAIN               MAIN              */


.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */header-background
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.top-products .top-products-bold {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 47px;
	line-height: 1.1;
	margin-bottom: 50px;
}

.button-wrapper {
	height: 40px;
	background-image: url('../img/line-small.png');
	background-repeat: repeat-x;
	background-position: center;
	text-align: center;	
	padding-top: 10px;
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.wrapper-260 {
	width: 260px;
}

.wrapper-220 {
	width: 220px;
}

.wrapper-200 {
	width: 200px;
}

.wrapper-160 {
	width: 160px;
}

.button-wrapper:hover {
	background: #f0c52e;
}

.button-wrapper:active a {
	color: rgba(0,0,0,.3);
}


.product-info { 
	border-collapse: collapse; 
}

.product-info .one { 
	width: 160px; 
}

.product-info .two { 
	width: 140px; 
}

.product-info td {
	padding: 10px 0;
}

.product-info tr:first-child {
	font-family: gilroylight, Arial, sans-serif;
	font-size: 36px;
}

.product-info tr:last-child {
	font-size: 13px;
	line-height: 20px;
}

.device-category p {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	line-height: 1;
}

.device-category ul, 
.device-category a,
.device-category div {
	display: flex;
}

.device-category ul {
	justify-content: space-between;
	padding: 0;
}

.device-category li:not(:last-child) {
	flex-basis: 160px;
	margin-right: 40px;
}

.device-category a {
	flex-direction: column;
	justify-content: space-between;
}

.device-category a:hover div {
	background: #f0c52e;
}

.device-category a:active div img {
	opacity: 0.3;
}

.device-category a:active p {
	opacity: 0.3;
}

.device-category div {
	height: 160px;
	background: #f7e296;
	justify-content: center;
}

.device-category li:nth-child(2) img {
	align-self: flex-end;
}

.services label {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

.device-category p {
	margin-bottom: 0;
	margin-top: 36px;
}

.services label:hover {
	color: black;
}


.services h2,
.about h2 {
	font-size: 47px;
}

.partners ul {
	display: flex;
	margin: auto;
	justify-content: space-between;
}

.partners img {
	-webkit-filter: grayscale(100%);
}

.partners img:hover {
	-webkit-filter: grayscale(0%);
}

.courier-references a {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
}




/*              FOOTER                  FOOTER               FOOTER               FOOTER               FOOTER             */




.main-footer {
	background: #464646;
	color: #ffffff;
}


.navigation-footer .service-navigation-footer a {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #ffffff;
}

.navigation-footer .service-navigation-footer a:hover {
	color: rgba(255,255,255,.6);
}

.navigation-footer .service-navigation-footer a:active {
	color: rgba(255,255,255,.3);
}

.navigation-footer .user-navigation a {
	color: rgba(255,255,255,.7);
}

.navigation-footer .user-navigation a:hover {
	color: #ffffff;
}

.navigation-footer .user-navigation a:active {
	color: rgba(255,255,255,.3);
}

.footer-social img {
	filter: alpha(Opacity=30);
    opacity: 0.3; 
}

.footer-social img:hover {
	filter: alpha(Opacity=60);
    opacity: 0.6; 
}

.footer-social img:active {
	filter: alpha(Opacity=10);
    opacity: 0.1; 
}

.social-button img:hover {
	filter: alpha(Opacity=60);
    opacity: 0.6; 
}

.social-button img:active {
	filter: alpha(Opacity=30);
    opacity: 0.3; 
}

.navigation-footer .user {
	background-image: url('../img/svg/user-yellow.png');
	background-repeat: no-repeat;
	background-position: 3px;
	padding-left: 27px;
}

.navigation-footer .compare {
	background-image: url('../img/svg/compare-yellow.png');
	background-repeat: no-repeat;
	background-position: 4px;
	padding-left: 27px;
}

.navigation-footer .cart {
	background-image: url('../img/svg/cart-yellow.png');
	background-repeat: no-repeat;
	background-position: 4px;
	padding-left: 27px;
}



/*              CATALOG                  CATALOG               CATALOG               CATALOG               CATALOG             */
/*
.helper {
	position: absolute;
	width: 1200px;
	height: 300px;
	background: green;
	top: -365px;
	z-index: -8;
}  */
.catalog-navigation {
	margin-bottom: 40px;
}

.catalog-navigation h2 {
	font-size: 47px;
}

.h2-hidden {
	position: absolute;
	top: -110px;
	left: 80px;
}

.navigation-links {
	display: flex;
	padding-left: 60px;
	margin-top: -62px;
}

.navigation-links li div {
	width: 10px;
	height: 10px;
	background-image: url('../img/svg/nav-arrow.svg');
	background-repeat: no-repeat;
	position: absolute;
	top: 15px;
}

.navigation-links li {
	padding: 0 7px;
	position: relative;
	left: -6px;
}

.navigation-links a {
	font-size: 14px;
	line-height: 36px;
	color: rgba(0,0,0,.3);
	padding-left: 0;
	margin-left: 0;
}

.navigation-links a:hover {
	color: rgba(0,0,0,.6);
}

.navigation-links a:active {
	color: rgba(0,0,0,.3);
}

.catalog-title-background {
	height: 70px;
	background-image: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%);
	margin: 0;
	padding: 0;
	z-index: -10;
}

.container-wrap {
	position: relative;
	box-sizing: border-box;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-image: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%);

}

.catalog-title-background div div {
	background: #ebebeb;
	width: 252px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	left: -123px;
	z-index: 1;
}

.catalog-title-background2 {
	height: 1217px;
	background-image: linear-gradient(to right, #efefef 50%, #ffffff 50%);
	margin: 0;
	padding: 0;
	z-index: -10;
}

.container-wrap2 {
	position: relative;
	box-sizing: border-box;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-image: linear-gradient(to right, #efefef 50%, #ffffff 50%);

}

.catalog-title-background2 div div {
	background: #ffffff;
	width: 252px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	left: -123px;
	z-index: 1;
}



.catalog-header h3 {
	font-size: 16px;
	text-transform: uppercase;
}

.catalog-header label {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0,0,0,.3);
}

.catalog-header label:hover {
	color: rgba(0,0,0,.6);
}

.catalog-header label:active {

}

.catalog-filter legend {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
}

.catalog-filter fieldset {
	padding: 0;
	width: 220px;
	box-sizing: border-box;
	border: none;
}

.catalog-filter label {
	font-size: 14px;
}

.catalog-header label > img {
	filter: alpha(Opacity=20);
    opacity: 0.2; 
}

.catalog-header label > img:hover {
	filter: alpha(Opacity=40);
    opacity: 0.4; 
}

.catalog-header label {
  cursor:pointer;
}

#orderby-up:checked label {
	filter: alpha(Opacity=100);
    opacity: 1; 
}

#orderby-price:checked + label,
#orderby-type:checked + label,
#orderby-popularity:checked + label {
	color: #000000;
} 

#orderby-up:checked + label img,
#orderby-down:checked + label img {
	filter: alpha(Opacity=100);
    opacity: 1; 
}

.product b {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	width: 260px;
	line-height: 22px;
	padding: 0;
	margin: 0;
}

.product p {
	font-family: gilroylight, Arial, sans-serif;
	font-size: 16px;
	color: #464646;
	line-height: 22px;
	padding: 0;
	margin: 0;
}

.product {
	width: 360px;
	position: relative;
}

.product img {

}

.product .products-list-description {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px 0;
	margin-top: 16px;
} 

.products-list-navigation {
	display: flex;
	height: 70px;
	justify-content: space-between;
	align-items: center;
	margin-top: -10px;
}

.list-pages label a {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 16px;
	color: rgba(0,0,0,.3);
	margin: 10px 13px;
}

.list-pages label:hover a {
	color: rgba(0,0,0,.6);
}

.list-pages label:active a {
	color: black;
}

#button-1:checked + label a,
#button-2:checked + label a,
#button-3:checked + label a {
	color: #000000;
} 

.products-list-navigation button {
  	width: 125px;
  	font-family: gilroyextrabold, Arial, sans-serif;
  	font-size: 16px;
  	color: #000000; 
	text-transform: uppercase;
  	background: transparent;
  	border: none;
} 



/* сетка */

.container {
	position: relative;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	margin-top: 35px;
}

.catalog-header .container {
	margin-top: 0px;
}

.catalog-background .container {
	margin-top: 0px;
}

.left-part {
	width: 500px;
	min-height: 76px;
	float: left;
	padding-left: 60px;
	margin-bottom: 30px;
}

.right-part {
	width: 560px;
	min-height: 76px;
	float: right;
	margin-bottom: 30px;
	margin-right: 0;
	padding-right: 0;
}


.right-part ul {
	display: flex;
	justify-content: space-between;

}


.right-part ul,
.left-part ul {
	padding: 0;
	width: 100%;
}

.right-part li:last-child {
	margin-right: 60px;
}

.user-navigation .left-part {
	display: flex;
}

.right-part {
	display: flex;
	align-items: flex-end;
}

.main-header {
	margin-top: 22px;
	min-height: 318px;

}

.header-background {
	position: absolute;
	width: 1160px;
	height: 300px;
	background: #f7e296;
	z-index: -10;
}

.catalog-header-background {
	position: absolute;
	width: 1160px;
	height: 186px;
	background: #f7e296;
	z-index: -10;
}

.header-logo {
	position: absolute;
	margin-left: 60px;
	top: -20px;
}

.site-navigation .right-part {
	align-items: flex-start;
	min-height: 35px;
}

.site-navigation .right-part li:last-child {
	position: relative;
	left: 4px;
}

.site-navigation .right-part li:nth-child(2) {
	padding-left: 35px;
	flex-grow: 1;
}

.user-navigation .right-part li:first-child {
	flex-grow: 1;
}

.user-navigation .right-part li:nth-child(2) {
	margin-right: 37px;
}

.site-navigation .catalog-list-hidden {
	display: flex;
	width: 560px;
	padding-left: 60px;
	margin-top: 11px;
}

.site-navigation .catalog-list-hidden ul {
	display: flex;
	flex-direction: column;
	width: 180px;
	margin-right: 20px;
	flex-shrink: 0;
	margin-top: 10px;
}

.site-navigation .catalog-list-hidden ul:first-child {
	width: 220px;
}



.list-hidden-wrapper {
  	display: none;
  	position: absolute;
  	top: 137px;
  	left: 20px;
  	width: 1160px;
  	height: 163px;
  	padding: 0;
	z-index: 5;
	background: #f7e296;
}

.hidden-wrapper:hover .list-hidden-wrapper {
  display: block;
}



/*
MAIN GRID 
*/

.container {
	/*border: 1px solid green;*/
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.top-products .top-1 img {
	position: absolute;
	top: -45px;
	right: 685px;
	z-index: 3;
}

.top-products .right-part {
	position: relative;
	top: -127px;
	display: block;
	padding-right: 60px;
	box-sizing: border-box;
	min-height: 400px;
	margin-bottom: -40px;
}

.top-1 .mega-size {
	position: absolute;
	right: 47px;
	top: 26px;
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 179px;
	color: #ffffff;
	z-index: -1;
}

.right-part .line-svg {
	position: relative;
	top:-20px;
}

.top-products .top-1 p {
	margin-bottom: 23px;
}

.top-products .quadrupter1 a img {
	left: -570px;
	top: 30px;
}

.top-products .right-part table td {
	padding-left: 0;
}

.top-products .right-part table {
	margin-top: 128px;
}

.top-products .right-part input {
	position: absolute;
	top: 285px;
}

.top-products .right-part .radio1 {
	left: 404px;
}

.top-products .right-part .radio2 {
	left: 437px;
}

.top-products .right-part .radio3 {
	left: 469px;
}

.top-products .right-part .button-wrapper {
	position: absolute;
	top: 270px;
}

.top-products .radio1:checked ~ .selfi-stick1 {display: block;}
.top-products .radio1:checked ~ .fitness-bracelet1 {display: none;}
.top-products .radio1:checked ~ .quadrupter1 {display: none;}

.top-products .radio2:checked ~ .selfi-stick1 {display: none;}
.top-products .radio2:checked ~ .fitness-bracelet1 {display: block;}
.top-products .radio2:checked ~ .quadrupter1 {display: none;}

.top-products .radio3:checked ~ .selfi-stick1 {display: none;}
.top-products .radio3:checked ~ .fitness-bracelet1 {display: none;}
.top-products .radio3:checked ~ .quadrupter1 {display: block;}


.services-background {
	height: 288px;
	background: #e5e5e5;
	z-index: -10;
	margin-top: 170px;
}

.main-container .services {
	position: relative;
	top: -20px;
}

.services .line2-svg {
	position: absolute;
	top: -60px;
	left: 300px;
}

.services label div {
	display: none;
	position: absolute;
	left: 160px;
	top: 0px;
	width: 120px;
	height: 40px;
	margin-left: 20px;
	background: black;
} 

.services label:nth-child(2) div {top: 65px;}
.services label:nth-child(3) div {top: 130px;}

.services label {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.services .button-wrapper {
	padding-top: 0px;
}

.services .label-wrapper {
	display: flex;
	min-height: 170px;
	width: 160px;
	padding: 0;
	margin: 0;
	flex-direction: column;
	justify-content: space-between;
}

.services .description-hidden {
	position: absolute;
	top: -45px;
	left: 420px;
}

.services .description img {
	position: absolute;
	top: 45px;
	left: 600px;
}

.services .description p {
	display: inline-block;
	width: 435px;
	margin-top: -10px;
}

.services .delivery-hidden {display: none;}
.services .guarantee-hidden {display: none;}
.services .credit-hidden {display: none;}

.services #delivery:checked ~ .delivery-hidden {display: block;}
.services #delivery:checked ~ .guarantee-hidden {display: none;}
.services #delivery:checked ~ .credit-hidden {display: none;}

.services #guarantee:checked ~ .delivery-hidden {display: none;}
.services #guarantee:checked ~ .guarantee-hidden {display: block;}
.services #guarantee:checked ~ .credit-hidden {display: none;}

.services #credit:checked ~ .delivery-hidden {display: none;}
.services #credit:checked ~ .guarantee-hidden {display: none;}
.services #credit:checked ~ .credit-hidden {display: block;}

.services #delivery:checked ~ .label-wrapper label:first-child {background: black; color: #f7e184;}
.services #delivery:checked ~ .label-wrapper label:first-child div {display: block;}

.services #guarantee:checked ~ .label-wrapper label:nth-child(2) {background: black; color: #f7e184;}
.services #guarantee:checked ~ .label-wrapper label:nth-child(2) div {display: block;}

.services #credit:checked ~ .label-wrapper label:nth-child(3) {background: black; color: #f7e184;}
.services #credit:checked ~ .label-wrapper label:nth-child(3) div {display: block;}

.partners {
	display: flex;
	align-items: center;
	min-height: 290px;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

.about .container {
	min-height: 625px;
	margin-top: 0;
}

.about .left-part {
	display: block;
	float: left;
	width: 460px;
	min-height: 570px;
	padding: 0;
	margin: 0;	
}

.about .right-part {
	display: block;
	float: right;
	width: 560px;
	min-height: 570px;
	padding: 0;
	margin: 0;	
}

.about h2 {
	display: flex;
	height: 153px;
	align-items: center;
	margin: 0;
	padding: 0;
	
}
.about svg {
	position: absolute;
}

.about p {
	min-height: 90px;
	margin: 0;
	padding: 0;
	margin-top: -10px;
}

.about .text-wrapper {
	height: 223px;
	border: 1px solid transparent;
}

.about .courier-references li {
	padding-left: 35px;
	position: relative;
	top: 20px;
}

.about .courier-references li:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about img {
	margin-bottom: 0;
}

.about .button-wrapper {
	margin-top: 75px;
}



.main-footer .container {
	min-height: 323px;
	box-sizing: border-box;
	border-top: 1px solid transparent;
}

.main-footer .footer-logo {
	position: absolute;
	top: 65px;
}

.navigation-footer .user-navigation {
	display: flex;
	position: absolute;
	right: 20px;
	top: 45px;
}

.navigation-footer .user-navigation li {
	margin-left: 40px;
}

.main-footer .text-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 115px;
}

.service-navigation-footer {
	display: flex;
	width: 425px;
	justify-content: space-between;
	margin: 0 auto;
	padding-left: 0;
	letter-spacing: 0.2em;
	position: relative;
	top: -40px;
}


.social-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
	margin-bottom: 50px;
	position: relative;
	top: -5px;
}



/* CATALOG  */


.main-footer .footer-social {
	position: relative;
	left: -25px;
}
.main-footer .footer-social a {
	padding: 0 11px;
}

.catalog-filter input[type="checkbox"],
.catalog-filter input[type="radio"] {
    display:none;
}


.title-background-bottom {
	
}
.catalog-filter input[type="checkbox"] + label span {
    display:inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 10px 0 0;
    vertical-align: middle;
    background: url('../img/svg/checkbox-off.svg') left top no-repeat;
    cursor: pointer;
}

.catalog-filter input[type="checkbox"]:checked + label span {
    background: url('../img/svg/checkbox-on.svg') left top no-repeat;
}

.catalog-filter input[type="checkbox"]:checked:active + label span {
    background: url('../img/svg/checkbox-off.svg') left top no-repeat;
}

.catalog-filter input[type="checkbox"]:not(:checked):active + label span {
    background: url('../img/svg/checkbox-on.svg') left top no-repeat;
}

.catalog-filter input[type="radio"]:checked:active + label span {
    background: url('../img/svg/radio-off.svg') left top no-repeat;
}

.catalog-filter input[type="radio"]:not(:checked):active + label span {
    background: url('../img/svg/radio-on.svg') left top no-repeat;
}

.catalog-filter input[type="radio"] + label span {
    display:inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 10px 0 0;
    vertical-align: middle;
    background: url('../img/svg/radio-off.svg') left top no-repeat;
    cursor: pointer;
}

.catalog-filter input[type="radio"]:checked + label span {
    background: url('../img/svg/radio-on.svg') left top no-repeat;
}

.catalog-filter fieldset:not(:first-child) {
	display: flex;
	flex-direction: column;
}

.catalog-filter fieldset label {
	margin-bottom: 10px;
}

.catalog-filter label:hover {
    opacity: 1;
    color: black;
}
.catalog-filter label:hover span {
    opacity: 0.6;
}

.catalog-filter label {
	color: black;
} 

#slider-cost {
	-webkit-appearance: none;
	width: 196px;
	height: 2px;
    outline-color: rgba(0,0,0,.03);	
	background: -webkit-linear-gradient(left, #91c92f 50%, #dbdbdb 50%)

}

#slider-cost::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 25px;
	height: 25px;

	background: url('../img/svg/filter-button.svg');
	background-repeat: no-repeat;
}

#slider-cost::-webkit-slider-thumb:active {
	-webkit-appearance: none;
	width: 30px;
	height: 30px;

	background: url('../img/svg/filter-button.svg');
	background-repeat: no-repeat;
	background-size: 80%;
}

#slider-cost + label {
	font-family: gilroylight, Arial, sans-serif;
	font-size: 14px;
	opacity: 0.2;
	position: relative;
	left: 85px;
}

.catalog-header {
    background-image: linear-gradient(to right, #dcdcdc 40%, #ebebeb 40%);
}


.catalog-left-part {
	display: flex;
    justify-content: flex-start;
	float: left;
    width: 328px;
    height: 70px;
    background-color: #dcdcdc;
    margin: 0;
    padding: 0;
    align-items: center;
}

.catalog-rigth-part {
    display: flex;
    justify-content: flex-start;
    float: right;
    width: 832px;
    height: 70px;
    background-color: #ebebeb;
    padding: 0;
    margin: 0;
    align-items: center;
}

.catalog-background {
	background-image: linear-gradient(to right, #ebebeb 40%, #ffffff 40%);
}

.catalog-left-background {
	float: left;
    width: 328px;
    min-height: 1215px;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    padding-top: 55px;
    box-sizing: border-box;
}

.catalog-right-background {
	float: right;
    width: 832px;
    height: 1215px;
    background-color: white;
    padding: 0;
    margin: 0;
}

.catalog-left-part h3 {
	padding-left: 60px;
	letter-spacing: 0.2em;
}

.catalog-rigth-part h3 {
	letter-spacing: 0.2em;
	padding: 0;
	padding-left: 73px;
	padding-right: 54px;
}

.catalog-rigth-part label {
	padding: 0;
	padding-right: 28px;
}

.button-wrapper.wrapper-220 {
	margin-top: 20px;
}

.radio-wrapper {
	flex-grow: 1;
	text-align: right;
}

.radio-wrapper label {
	padding-right: 0;
	padding-left: 15px;
}

.catalog-left-background fieldset {
	margin-top: 25px;
	width: 200px;
}
.catalog-left-background fieldset:before {
	content: "";
	display: block;
	width: 200px;
	border-top: 2px solid black;
	position: relative;
	top: -60px;
}

.catalog-left-background legend {
	position: relative;
	left: -4px;
	margin-bottom: 20px;
}

.catalog-background .products-list {
	margin-top: 70px;
	padding-left: 73px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.products-list .product {
	margin-bottom: 37px;
}

.products-list-navigation {
	margin-left: 73px;
	background: #ebebeb;
}

.products-list-navigation button {
	letter-spacing: 0.2em;
	outline: none;
	cursor: pointer;
}

.previous-button,
.next-button {
	width: 126px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.previous-button:hover,
.next-button:hover {
	background: #d9d9d9;
}

.previous-button:active button,
.next-button:active button {
	color: rgba(0,0,0,.3);
}

.box-img {
	position: relative;
}

.box-img .product-hover-menu {
	display: none;
    position: absolute;

    background-color: rgba(238, 238, 238, 0.7);
    z-index: 12;
    width: 360px;
    height: 360px;
    text-align: center;
}

.box-img:hover .product-hover-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-to-cart {
	position: relative;
	top: 45px;
	margin-bottom: 55px;
}

.product-to-cart:active {
	color: rgba(0,0,0,.3);
}

.product-hover-menu .product-compare {
	color: rgba(0,0,0,.5);
}

.product-hover-menu .product-compare:hover {
	color: black;
}

.product-hover-menu .product-compare:active {
	color: rgba(0,0,0,.2);
}

.main-footer {
	margin-top: 0;
	border: 1px solid green;
}